.fnaVid{
    
    height: 225px;
    width: 98%;
    margin-top: 50px;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 26px;
    border: 1px solid rgba(103, 61, 61, 0.518);
    background-color:  rgba(51, 51, 51, 0.871);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.griidC{
    display: grid;
   grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.griidC>div{
    
    height: 180px;
}
.hline{
    border: 0.1px solid gray;
   
}
.videsContent{
    height: 118px;
    width: 95%;
    border-radius: 10px;
    margin: auto;
    border: none;
    
    
}
.videsContent2{
    font-size:12px;
    font-family:Montserrat;
    line-height: 16px;
    font-style: normal;
    color:#ffffff ;
    margin-top: 7px;
    font-weight: 40;
    text-align: left;
    width: fit-content;
    padding-left: 10px;
}