.fnaVid{
    
    height: 190px;
    width: 98%;
    margin-top: 50px;
    border-radius: 2px;
    margin: auto;
    border: 1px solid rgba(103, 61, 61, 0.518);
    background-color:  rgba(51, 51, 51, 0.871);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}