
/* body{
    width:90%;
    height:5rem;
    
} */

.fw13-nav-main{
    width: 60%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
   text-align: left;
   font-size: .875rem;
   font-weight: 500;
 color: rgb(59, 56, 56);
}
.fw13-nav-link{
    text-align: center;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;  
}