
.fw13-single-conatiner{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    border: 2px solid red;
    grid-gap: 10px;
    padding: 5px;
}

.fw13-img-conatiner{
    width: 50%;
    height:100%;
    border: 2px solid red;

}
.fw13-img-conatiner >img{
    width: 95%;
    height: 95%;
}
.fw13-detail-conatiner{
    width: 50%;
    height: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fw13_188_date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

}